@import 'tailwindcss';

@theme {
    --color-monSite: #222222;
    --color-background-monSite: #E6E4DF;
    --color-container-monSite: #F4F2E8;
    --color-child-container-monSite: #FBFAF2;
    --color-child-child-container-monSite: #FFFFFF;
}

.dark {
    --color-monSite: #FFFFFF;
    --color-background-monSite: #1E1F1C;
    --color-container-monSite: #2A2B28;
    --color-child-container-monSite: #353632;
    --color-child-child-container-monSite: #454543;
}

.red {
    --color-monSite: #FFFFFF;
    --color-background-monSite: #950707;
    --color-container-monSite: #ab2d2d;
    --color-child-container-monSite: #bf4c4c;
    --color-child-child-container-monSite: #cd6b6b;

}

.orange {
    --color-monSite: #FFFFFF;
    --color-background-monSite: #955307;
    --color-container-monSite: #ab702d;
    --color-child-container-monSite: #bf874c;
    --color-child-child-container-monSite: #d2a576;    
}

.yellow {
    --color-monSite: #222222;
    --color-background-monSite: #958e07;
    --color-container-monSite: #a9ab2d;
    --color-child-container-monSite: #b7bf4c;
    --color-child-child-container-monSite: #c8cf65;
}

.green {
    --color-monSite: #FFFFFF;
    --color-background-monSite: #1c9507;
    --color-container-monSite: #42ab2d;
    --color-child-container-monSite: #4cbf5f;
    --color-child-child-container-monSite: #6dcd7d;
}

.blue {
    --color-monSite: #FFFFFF;
    --color-background-monSite: #0960be;
    --color-container-monSite: #1d71cb;
    --color-child-container-monSite: #347bc7;
    --color-child-child-container-monSite: #4f8aca;
}

.purple {
    --color-monSite: #FFFFFF;
    --color-background-monSite: #630795;
    --color-container-monSite: #792dab;
    --color-child-container-monSite: #994cbf;
    --color-child-child-container-monSite: #a165bf;
}

/* scrollbar commune des childs */
.scrollbar-child-container-monSite::-webkit-scrollbar {
    width: 16px;
}

.scrollbar-child-container-monSite::-webkit-scrollbar-track {
    background: var(--color-child-container-monSite);
    border-radius: 18px;
}

.scrollbar-child-container-monSite::-webkit-scrollbar-thumb {
    background: var(--color-child-child-container-monSite);
    border-radius: 22px;
    border: 5px solid var(--color-container-monSite);
}

/* scrollbar pour les childs de childs */
.scrollbar-child-child-container-monSite::-webkit-scrollbar {
    width: 18px;
}

.scrollbar-child-child-container-monSite::-webkit-scrollbar-track {
    background: var(--color-child-child-container-monSite);
    border-radius: 20px;
}

.scrollbar-child-child-container-monSite::-webkit-scrollbar-thumb {
    background: var(--color-green-monSite);
    border-radius: 20px;
    border: 5px solid var(--color-child-child-container-monSite);
}

.containerDesc {
    max-height: 8vh;
    overflow-y: auto;
    padding-right: 4px;
}

.cardDesc {
    font-size: 0.9rem;
}

.btnCard {
    width: 8%;
}

.modal-backdrop {
    position: fixed; /* IMPORTANT */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* au-dessus de tout */
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#postContainer{
    display: flex;
}